*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    padding:15px 8%;
    background:#0f766e;
}

.logo h2{
    color:#fff;
    font-size:30px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
    flex-wrap:wrap;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:17px;
    transition:.3s;
}

.nav-links a:hover{
    color:#facc15;
}

.btn{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    background:#facc15;
    color:#000;
    font-weight:bold;
    cursor:pointer;
}

.btn:hover{
    background:white;
}

@media(max-width:768px){
    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        justify-content:center;
    }
}